body {
  background-color: #2C2A4A;
}

#form {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90vh;
  margin: auto;
}

#fieldset {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  border: #7FDEFF 1px solid;
  width: 50vw;
  height: 90vh;
}

#legend {
  color: #7FDEFF;
  font-size: 2em;
  opacity: 90%;
}

.form-label {
  color: #907AD6;
  font-size: 1.75em;
  padding: 1%;
  font-weight: 900;
  letter-spacing: 0.04em;
}

.form-input {
  background-color: #DABFFF;
  color: #4F518C;
  height: 4vh;
  width: 46vw;
  font-size: 1.4em;
  padding: 1%;
}

.form-input:hover {
  border: 2px solid #7FDEFF;
  background-color: #7FDEFF;
}

#submit-button {
  width: 20vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #4F518C;
  color: #2C2A4A;
  font-size: 1.25em;
  font-weight: 900;
}